@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url('assets/fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url('assets/fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  src: url('assets/fonts/Roboto/Roboto-Regular.ttf');
}

body {
  overflow-x: hidden;
  font-family:
    'Roboto',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  font-weight: 400;
  @apply bg-zinc-900 text-zinc-200;
}

@import-normalize;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer components {
  .sidebar-icon {
    @apply relative mx-auto mt-2 flex h-12 w-12 cursor-pointer items-center justify-center rounded-3xl bg-zinc-800 text-zinc-200 shadow-lg transition-all duration-300 ease-linear;

    .active {
      @apply active:rounded-xl active:bg-zinc-200 active:text-zinc-900;
    }
  }
}

.input_style {
  @apply w-full border border-gray-200/10 bg-zinc-800 p-1 px-2 text-right focus:outline-none;
}

/* Make the scrollbar smaller */
::-webkit-scrollbar {
  width: 4px;
  /* For vertical scrollbar */
  height: 4px;
  /* For horizontal scrollbar */
}

/* Style the scrollbar track (background) */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Style the scrollbar thumb (draggable part) */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  min-height: 50px;
  /* Makes the thumb taller */
  width: 4px;
  /* Forces the thumb to be wider */
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
